@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    color: steelblue;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

.profile header {
    text-align: center;
}

/* div#opacity {
    background-color: red;
    opacity: 0.5;
} */